.grid {
  opacity: 0.3;
  position: absolute;
  width: 600px;
  height: 600px;
  margin-left: 550px;
  z-index: 1;
}

.ground {
  position: absolute;
  width: 600px;
  height: 600px;
  margin-left: 550px;
}

.header {
  margin-left: 10px;
  margin-top: 10px;
}
